.header {
  display: flex;
  height: 50px;

  @include breakpoint(large) {
    height: 70px;
  }
}

.logo {
  background: darken($sidebar-bg, 5%);
  flex: 0 0 $sidebarWidth;
  align-items: center;
  padding: 1rem .62rem;
  color: $sidebar-text;

  // Off canvas menu: logo inactive
  transform: translate3d(-240px, 0, 0);
  transition: transform .3s;
  @include breakpoint(medium) {
    transform: translate3d(0, 0, 0);
    padding: 1.5rem;
  }

  @include breakpoint(smallToMedium) {
    flex: 0;
    padding: 1rem .62rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 1rem;
  flex: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;

  &__message {
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
  }

  &__notification {
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
  }

  @include breakpoint(medium) {
    &__search {
      display: block;
    }
  }

  @include breakpoint(large) {
    padding: 1rem 2rem 1rem 1rem;

    &__input {
      height: 35px;
      font-size: 16px;
    }
  }
}

.search {
  display: none;
  margin-right: auto;

  &__input {
    border: none;
    box-shadow: inset 0 -1px 0 #ddd;
    height: 30px;
    font-size: 14px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:focus {
      outline: none;
      box-shadow: inset 0 -2px 0 $primary-color;
    }
  }

  @include breakpoint(medium) {
    display: block;
  }

  @include breakpoint(large) {
    &__input {
      height: 35px;
      font-size: 16px;
    }
  }
}

.alert {
  position: absolute;
  top: -5px;
  right: -1px;
  border-radius: 50%;
  color: #fff;
  width: 17px;
  height: 17px;
  background: $alert-primary;
  line-height: 17px;
  font-size: 10px;
  text-align: center;
}


.login {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &__name {
    display: none;
    margin-right: .5rem;
    font-weight: 300;
    font-size: 14px;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    color: $content-text;
    padding: .8rem 1rem;
    display: block;
    font-size: 14px;
    text-decoration: none;
    @include transition-bg;

    &:hover {
      background-color: rgba(158,158,158,0.2);
      //color:$sidebar-text;
    }
  }

  @include breakpoint(medium) {
    &__name {
      display: block;
    }
  }

  @include breakpoint(large) {
    &__avatar {
      width: 40px;
      height: 40px;
    }
  }
}

.toggle {
  margin-right: auto;

  &--close {
    position: absolute;
    top: 12px;
    right: 5px;
  }

  @include breakpoint(medium) {
    display: none;

    &--close {
      display: none;
    }
  }
}
