/* ==========================================================================
   Layout: App
   ========================================================================== */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  background: $content-bg;
  padding: 1rem .5rem;
  flex: 1;

  @include breakpoint(medium) {
    padding: 1.5rem;
  }
}


/* ==========================================================================
   Layout: Content
   ========================================================================== */
.content-inner {
  // Stack elements and create gutters
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(medium) {
    flex-wrap: wrap;

    &--elements {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  @include breakpoint(large) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.content__title {
  margin: 0 0 .5rem;
  font-weight: normal;
  font-size: 20px;

  @include breakpoint(medium) {
    &__title {
      font-size: 24px;
    }
  }
}


/* ==========================================================================
   Layout: Card
   ========================================================================== */
.card {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: .5rem;
  margin: 0 0 1rem;

  &--transparent {
    background: #f5f8fd;
    box-shadow: none;
    padding: 0;
    margin: 0;

    .info-box {
      width: 100%;
      margin-right: 0;
    }
  }

  &__title {
    margin: 0 0 .5rem;
    font-weight: normal;
    font-size: 18px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 13px;
  }

  @include breakpoint(medium) {
    padding: 1rem 1.5rem;

    &--transparent {
      padding: 0;
    }

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  @include breakpoint(large) {
    //max-width: 960px;
    &--small {
      width: 33%;
    }

    &--medium {
      width: 65%;
    }

    &--large {
      width: 100%;
    }
  }
}


// FOoter
//.footer {
//  width: 100%;
//}
//
//.copyright {
//  margin: 1rem 0 0;
//  text-align: center;
//  font-size: 14px;
//}

// layout info box
.info-box {
  display: flex;
  margin-bottom: 15px;

  &--secondary {
    .info-box__icon {
      background: $infobox-secondary;
    }

    .info-box__text {
      color: $infobox-secondary;
    }
  }

  &__icon {
    background: $infobox-primary;
    padding: 15px;
    display: flex;
    align-items: center;
  }

  &__total {
    background: #fff;
    padding: 1.8rem;
    flex-grow: 1;
  }

  &__text {
    color: $infobox-primary;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
  }

  &__number {
    font-size: 15px;
  }

  @include breakpoint(medium) {
    width: 50%;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint(large) {
    width: 33%;

    &__icon {
      padding: 20px;
    }

    &__total {
      padding: 2.1rem;
    }

    &__text {
      font-size: 16px;
    }

    &__number {
      font-size: 16px;
    }
  }
}

// Toggle switch & Settings section

.switch {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  width: 3.5rem;
  height: 1.76rem;

  input {
    display: none;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: .3s;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: white;
      transition: .3s;
    }
  }

  &__text {
    position: absolute;
    right: -90px;
    line-height: 28px;
  }
}

input:checked + .switch__slider {
  background-color: $sidebar-bg;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.settings {
  &:first-of-type {
    margin-bottom: 2rem;
  }
}
