.dropdown {
  transition: transform 0.2s ease;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2),0 1px 1px rgba(0,0,0,.05);
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 12rem;
  padding: .3rem 0;

  opacity: 0;
  transform: translateY(-5px);

  &__divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: .3rem 0;
  }

  &--messages {
    top: 38px;
  }

  &--login {
    top: 44px;
  }

  &--open {
    pointer-events: auto;
    opacity: 1;
    z-index: 50;
    transform: translateY(0px);
  }

  @include breakpoint(large) {
    width: 15rem;

    &--messages {
      top: 48px;
    }

    &--login {
      top: 56px;
    }
  }

}