html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

/* ==========================================================================
   Layout: App
   ========================================================================== */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  display: flex;
  flex-grow: 1; }

.content {
  background: #f5f8fd;
  padding: 1rem .5rem;
  flex: 1; }
  @media (min-width: 48em) {
    .content {
      padding: 1.5rem; } }

/* ==========================================================================
   Layout: Content
   ========================================================================== */
.content-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 48em) {
    .content-inner {
      flex-wrap: wrap; }
      .content-inner--elements {
        flex-direction: row;
        flex-wrap: nowrap; } }
  @media (min-width: 65em) {
    .content-inner {
      flex-direction: row;
      align-items: flex-start; } }

.content__title {
  margin: 0 0 .5rem;
  font-weight: normal;
  font-size: 20px; }
  @media (min-width: 48em) {
    .content__title__title {
      font-size: 24px; } }

/* ==========================================================================
   Layout: Card
   ========================================================================== */
.card {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: .5rem;
  margin: 0 0 1rem; }
  .card--transparent {
    background: #f5f8fd;
    box-shadow: none;
    padding: 0;
    margin: 0; }
    .card--transparent .info-box {
      width: 100%;
      margin-right: 0; }
  .card__title {
    margin: 0 0 .5rem;
    font-weight: normal;
    font-size: 18px; }
  .card__subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 13px; }
  @media (min-width: 48em) {
    .card {
      padding: 1rem 1.5rem; }
      .card--transparent {
        padding: 0; }
      .card__title {
        font-size: 20px; }
      .card__subtitle {
        font-size: 14px; } }
  @media (min-width: 65em) {
    .card--small {
      width: 33%; }
    .card--medium {
      width: 65%; }
    .card--large {
      width: 100%; } }

.info-box {
  display: flex;
  margin-bottom: 15px; }
  .info-box--secondary .info-box__icon {
    background: #6dc7be; }
  .info-box--secondary .info-box__text {
    color: #6dc7be; }
  .info-box__icon {
    background: #b198dc;
    padding: 15px;
    display: flex;
    align-items: center; }
  .info-box__total {
    background: #fff;
    padding: 1.8rem;
    flex-grow: 1; }
  .info-box__text {
    color: #b198dc;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0; }
  .info-box__number {
    font-size: 15px; }
  @media (min-width: 48em) {
    .info-box {
      width: 50%;
      margin-right: 15px; }
      .info-box:last-child {
        margin-right: 0; } }
  @media (min-width: 65em) {
    .info-box {
      width: 33%; }
      .info-box__icon {
        padding: 20px; }
      .info-box__total {
        padding: 2.1rem; }
      .info-box__text {
        font-size: 16px; }
      .info-box__number {
        font-size: 16px; } }

.switch {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  width: 3.5rem;
  height: 1.76rem; }
  .switch input {
    display: none; }
  .switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: .3s; }
    .switch__slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: white;
      transition: .3s; }
  .switch__text {
    position: absolute;
    right: -90px;
    line-height: 28px; }

input:checked + .switch__slider {
  background-color: #2f3b4c; }

input:focus + .switch__slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

.settings:first-of-type {
  margin-bottom: 2rem; }

.signup {
  background: #2f3b4c;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 0 0; }
  .signup__form {
    background: #fff;
    width: 100%;
    border-radius: 2px;
    padding: 2rem 1rem; }
  .signup__footer {
    text-align: center;
    padding: 1rem 0;
    color: #fff; }
    .signup__footer a {
      color: #fff;
      font-size: 15px; }
  .signup__legend {
    text-align: center;
    font-weight: 300;
    margin: 0 auto 30px;
    font-size: 28px;
    line-height: 30px; }
  .signup__input {
    background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    transition: opacity 0.4s;
    height: auto; }
  .signup__message {
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #999; }
  .signup__button {
    display: block;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    color: white;
    background: #15CD72;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    height: auto;
    -webkit-appearance: none;
    transition: background .2s ease; }
    .signup__button:hover {
      background: #109f58; }
  @media (min-width: 30em) {
    .signup {
      padding: 3rem 1rem; }
      .signup__form {
        margin: 0 auto;
        width: 27rem;
        padding: 2rem; }
      .signup__footer {
        margin: 0 auto;
        width: 27rem; } }

.button {
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  padding: .5rem .7rem;
  white-space: nowrap;
  text-decoration: none;
  transition: background .2s ease; }
  .button--messages {
    background: #35c4f9;
    color: #fff; }
    .button--messages:hover {
      background: #1cbdf8; }
  @media (min-width: 48em) {
    .button {
      font-size: 14px;
      padding: .5rem 1rem; } }

.header {
  display: flex;
  height: 50px; }
  @media (min-width: 65em) {
    .header {
      height: 70px; } }

.logo {
  background: #252f3c;
  flex: 0 0 240px;
  align-items: center;
  padding: 1rem .62rem;
  color: #b0bec5;
  transform: translate3d(-240px, 0, 0);
  transition: transform .3s; }
  @media (min-width: 48em) {
    .logo {
      transform: translate3d(0, 0, 0);
      padding: 1.5rem; } }
  @media (max-width: 75em) and (min-width: 48em) {
    .logo {
      flex: 0;
      padding: 1rem .62rem; } }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 1rem;
  flex: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 10; }
  .nav__message {
    margin-right: 1rem;
    position: relative;
    cursor: pointer; }
  .nav__notification {
    margin-right: 1rem;
    position: relative;
    cursor: pointer; }
  @media (min-width: 48em) {
    .nav__search {
      display: block; } }
  @media (min-width: 65em) {
    .nav {
      padding: 1rem 2rem 1rem 1rem; }
      .nav__input {
        height: 35px;
        font-size: 16px; } }

.search {
  display: none;
  margin-right: auto; }
  .search__input {
    border: none;
    box-shadow: inset 0 -1px 0 #ddd;
    height: 30px;
    font-size: 14px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
    .search__input:focus {
      outline: none;
      box-shadow: inset 0 -2px 0 #35c4f9; }
  @media (min-width: 48em) {
    .search {
      display: block; } }
  @media (min-width: 65em) {
    .search__input {
      height: 35px;
      font-size: 16px; } }

.alert {
  position: absolute;
  top: -5px;
  right: -1px;
  border-radius: 50%;
  color: #fff;
  width: 17px;
  height: 17px;
  background: #f67b4b;
  line-height: 17px;
  font-size: 10px;
  text-align: center; }

.login {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative; }
  .login__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%; }
  .login__name {
    display: none;
    margin-right: .5rem;
    font-weight: 300;
    font-size: 14px; }
  .login__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
  .login__menu-item {
    color: #1d2334;
    padding: .8rem 1rem;
    display: block;
    font-size: 14px;
    text-decoration: none;
    transition: background .2s ease; }
    .login__menu-item:hover {
      background-color: rgba(158, 158, 158, 0.2); }
  @media (min-width: 48em) {
    .login__name {
      display: block; } }
  @media (min-width: 65em) {
    .login__avatar {
      width: 40px;
      height: 40px; } }

.toggle {
  margin-right: auto; }
  .toggle--close {
    position: absolute;
    top: 12px;
    right: 5px; }
  @media (min-width: 48em) {
    .toggle {
      display: none; }
      .toggle--close {
        display: none; } }

/* ==========================================================================
   Layout: Sidebar
   ========================================================================== */
.sidebar {
  background: #2f3b4c;
  flex: 0 0 240px;
  transform: translate3d(-240px, 0, 0);
  transition: transform .3s; }
  .sidebar--secondary {
    background: #00a65a; }
  @media (min-width: 48em) {
    .sidebar {
      transform: translate3d(0, 0, 0); } }
  @media (max-width: 75em) and (min-width: 48em) {
    .sidebar {
      flex: 0; } }

.sidebar--active .sidebar,
.sidebar--active .logo {
  transform: translate3d(0, 0, 0); }

@media (max-width: 48em) {
  .logo,
  .sidebar {
    position: fixed;
    z-index: 22;
    width: 240px; }
  .logo {
    height: 50px; }
  .sidebar {
    min-height: calc(100% - 50px); } }

@media (max-width: 48em) {
  .overlay {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    transition: opacity,.3s;
    transform: translateZ(0); }
  .sidebar--active .overlay {
    opacity: 1;
    visibility: visible; } }

/* ==========================================================================
   Layout: Sidebar Menu
   ========================================================================== */
.sidebar-menu {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0; }
  .sidebar-menu__item {
    padding: 1rem 1rem;
    display: block;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    color: #b0bec5;
    border-left: 3px solid transparent;
    transition: background .2s ease; }
    .sidebar-menu__item:hover {
      background: #252f3c; }
    .sidebar-menu__item--active {
      background: #252f3c;
      border-color: #35c4f9; }
  @media (max-width: 75em) and (min-width: 48em) {
    .sidebar-menu__text {
      display: none; } }

.theme--light .logo {
  background: #008d4c;
  color: #fff; }

.theme--light .sidebar {
  background: #00a65a; }

.theme--light .sidebar-menu__item {
  color: #fff; }
  .theme--light .sidebar-menu__item:hover {
    background: #008d4c; }
  .theme--light .sidebar-menu__item--active {
    background: #008d4c;
    border-color: #35c4f9; }

.messages {
  display: flex;
  margin: 1.5rem 0 0;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 1rem;
  list-style: none;
  align-items: center; }
  .messages:last-child {
    border-bottom: none; }
  .messages__item {
    margin-right: 1rem; }
    .messages__item--medium {
      flex-basis: 30%; }
    .messages__item--small {
      flex-basis: 20%; }
  .messages__avatar {
    width: 45px;
    height: 45px;
    display: none; }
  .messages__title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #35c4f9; }
  .messages__subtitle {
    font-size: 12px;
    font-weight: 400;
    font-family: "Open Sans"; }
  .messages__topic {
    font-size: 12px;
    font-weight: 400;
    font-family: "Open Sans"; }
  .messages__comments {
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans"; }
  @media (min-width: 30em) {
    .messages__avatar {
      display: initial; } }
  @media (min-width: 48em) {
    .messages {
      margin-top: 1.5rem;
      padding-bottom: 1.5rem; }
      .messages:last-child {
        padding-bottom: 1rem; }
      .messages__item {
        margin-right: 3rem; }
      .messages__avatar {
        width: 65px;
        height: 65px; }
      .messages__title {
        font-size: 18px; }
      .messages__subtitle {
        font-size: 13px; }
      .messages__topic {
        font-size: 13px;
        margin-right: 1rem; }
      .messages__comments {
        font-size: 13px; } }
  @media (max-width: 30em) {
    .messages__item:first-child {
      margin-right: 0; } }

.dropdown {
  transition: transform 0.2s ease;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 12rem;
  padding: .3rem 0;
  opacity: 0;
  transform: translateY(-5px); }
  .dropdown__divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: .3rem 0; }
  .dropdown--messages {
    top: 38px; }
  .dropdown--login {
    top: 44px; }
  .dropdown--open {
    pointer-events: auto;
    opacity: 1;
    z-index: 50;
    transform: translateY(0px); }
  @media (min-width: 65em) {
    .dropdown {
      width: 15rem; }
      .dropdown--messages {
        top: 48px; }
      .dropdown--login {
        top: 56px; } }

@font-face {
  font-family: "Flaticon";
  src: url("./icons/Flaticon.eot");
  src: url("./icons/Flaticon.eot?#iefix") format("embedded-opentype"), url("./icons/Flaticon.woff") format("woff"), url("./icons/Flaticon.ttf") format("truetype"), url("./icons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./icons/Flaticon.svg#Flaticon") format("svg"); } }

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  vertical-align: middle; }

.icon--bell:before {
  content: "\f100"; }

.icon--chart:before {
  content: "\f101"; }

.icon--comment:before {
  content: "\f102"; }

.icon--home:before {
  content: "\f104"; }

.icon--delete:before {
  content: "\f103"; }

.icon--left:before {
  content: "\f105"; }

.icon--close:before {
  content: "\f106"; }

.icon--mail:before {
  content: "\f107"; }

.icon--menu:before {
  content: "\f108"; }

.icon--pie:before {
  content: "\f109"; }

.icon--search:before {
  content: "\f10a"; }

.icon--settings:before {
  content: "\f10b"; }

.icon--sidebar {
  margin-right: .7rem;
  font-size: 19px; }
  .icon--sidebar:before {
    font-size: 20px; }

.icon--nav {
  color: #787c82;
  margin-right: .5rem;
  transition: all .3s ease; }
  .icon--nav:before {
    font-size: 18px; }
  .icon--nav:active {
    color: #161718; }
  .icon--nav:hover {
    color: #47494d; }
  @media (min-width: 65em) {
    .icon--nav:before {
      font-size: 21px; } }

.icon--menu {
  cursor: pointer; }
  .icon--menu:before {
    font-size: 25px; }
  .icon--menu:hover {
    opacity: .8; }

.icon--close {
  cursor: pointer; }
  .icon--close:hover {
    opacity: .8; }

.icon--comment {
  margin-right: .2rem; }
  .icon--comment:before {
    font-size: 11px; }
  @media (min-width: 65em) {
    .icon--comment:before {
      font-size: 13px; } }

.icon--delete {
  margin-left: .5rem;
  cursor: pointer; }
  .icon--delete:before {
    font-size: 17px; }
  @media (min-width: 65em) {
    .icon--delete {
      margin-left: 1.3rem; }
      .icon--delete:before {
        font-size: 19px; } }

.icon--infobox:before {
  font-size: 22px;
  color: #fff; }

@media (min-width: 65em) {
  .icon--infobox:before {
    font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
